@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    background: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-position: left 0vw top 0vh, right 0vw bottom 0vh;
    background-repeat: no-repeat, no-repeat;
}

main {
    position: relative;
    width: 80%;
}

main article {
    position: relative;
    display: flex;
}

main article figure:nth-child(1) {
    width: 50%;
    padding: 20px 0px;
}

main article figure:nth-child(1) h1 {
    font-size: 5rem;
    color: hsl(300, 43%, 22%);
    margin-bottom: 20px;
    width: 400px;
    font-weight: 700;
}

main article:nth-child(1) figure:nth-child(1) p {
    color: hsl(300, 43%, 22%);
    width: 400px;
    line-height: 1.4;
    font-size: 1.7rem;
}

main article:nth-child(1) figure:nth-child(2) {
    margin-top: 20px;
}

main article:nth-child(1) figure:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    margin-bottom: 20px;
    padding: 20px 0px;  
    width: 420px;
    border-radius: 10px;
}

main article:nth-child(1) figure:nth-child(2) > div > div:nth-child(1) {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

main article:nth-child(1) figure:nth-child(2) > div > div:nth-child(2) {
    width: 55%;
    font-weight: 700;
}

main article:nth-child(1) figure:nth-child(2) > div:nth-child(2) {
    margin-left: 50px;
}

main article figure:nth-child(2) > div:nth-child(3) {
    margin-left: 100px;
}

main article:nth-child(2) {
    margin-top: 40px;
    gap: 50px;
}

main article:nth-child(2) figure {
    position: relative;
    width: 33%;
    padding: 30px 30px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height: 200px;
}

main article:nth-child(2) figure > div:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

main article:nth-child(2) > figure > div:nth-child(1) > div:nth-child(1) {
    position: relative;   
    display: flex;
    width: 40px;
    height: 40px;
}

main article:nth-child(2) figure > div:nth-child(1) > div:nth-child(1) img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main article:nth-child(2) figure > div:nth-child(1) > div:nth-child(2) {
    line-height: 1.2;
}

main article:nth-child(2) figure > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
    color: hsl(300, 24%, 96%);
    font-weight: 600;
}

main article:nth-child(2) figure > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

main article:nth-child(2) figure > div:nth-child(2) {
    color: hsl(300, 24%, 96%);
    line-height: 1.4;
}

main article:nth-child(2) figure:nth-child(2) {
    margin-top: 20px;
}

main article:nth-child(2) figure:nth-child(3) {
    margin-top: 40px;
}

/* Large screens */
@media screen and (min-width: 1400px) {
    main article:nth-child(1) figure:nth-child(1) h1,
    main article:nth-child(1) figure:nth-child(1) p {
        width: 90%;
    }
}

/* Laptops */
@media screen and (max-width: 1024px) {
    main article:nth-child(1) figure:nth-child(1) h1 {
        font-size: 2.7rem;
    }

    main article:nth-child(1) figure:nth-child(1) p {
        font-size: 1.6rem;
    }

    main article:nth-child(1) figure:nth-child(2) > div {
        width: 350px;
    }

    main article:nth-child(2) figure > div:nth-child(2) {
        font-size: 0.8em;
    }

    main article:nth-child(1) figure:nth-child(2) > div > div:nth-child(2) {
        font-size: 0.8em;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    body {
        background: url('images/bg-pattern-top-mobile.svg'), url('images/bg-pattern-bottom-mobile.svg');
        background-position: left 0vw top 0vh, right 0vw bottom 0vh;
        background-repeat: no-repeat, no-repeat;
        width: 100%;
        height: 100vh;
    }

    main {
        width: 100%;
    }

    main article {
        flex-direction: column;
        margin-top: 350px;
        margin-bottom: 50px;
        width: 100%;
        align-items: center;
    }

    main article:nth-child(1) {
        width: 100%;
    }

    main article:nth-child(1) figure:nth-child(1) {
        position: relative;
        width: 100%;
    }

    main article:nth-child(1) figure:nth-child(1) h1,
    main article:nth-child(1) figure:nth-child(1) p {  
        width: 100%;
        text-align: center;
        padding: 0px 40px;
    }

    main article:nth-child(1) figure:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    main article:nth-child(2) figure {
        position: relative;
        align-self: center;
        width: 80%;
    }
}

/* Phones */
@media screen and (max-width: 576px) {
    main article:nth-child(1) figure:nth-child(1) {
        margin-top: 170px;
    }

    /* Putting relative on main rated container to allow resize */
    main article:nth-child(1) figure:nth-child(2) {
        position: relative;
        width: 90%;
    }

    /* Align to center each rated child container */
    main article:nth-child(1) figure:nth-child(2) > div:nth-child(1) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    main article:nth-child(1) figure:nth-child(2) > div:nth-child(2) {
        margin-left: 0px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    main article:nth-child(1) figure:nth-child(2) > div:nth-child(3) {
        margin-left: 0px;
        width: 90%;
        margin: 0 auto;
    }

    main article:nth-child(2) {
        gap: 0px;
    }

    main article:nth-child(2) figure:nth-child(3) {
        margin-top: 20px;
    }
}